.navbar-brand {
    margin-right: auto;
  }
  
  .navbar-collapse {
    flex-grow: 1;
  }
  
  .navbar-nav {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  
  .dropdown-button {
    margin-right: 10px;
  }
  
  .form-inline {
    display: flex;
    align-items: center;
  }
  